body {
    /* background-color: #fff; */
    background-color: #000;
}

h1 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

h2 {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem; 
}

h3.footer-text {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .6rem;
}

p {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
}

button {
    background-color: #5131A5;
    color: #fff;
    padding: .4rem;
}

header {
    border: 1px dotted #fff;
    display: flex;
    flex-direction: row;
    height: 5rem;
    justify-content: space-between;
}

footer {
    height: 7rem;
}

/* label {
    color: #fff;
    display: block;
    font-family:Arial, Helvetica, sans-serif;
    font-size: .6rem;
} */

input {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .6rem;
    margin-right: .5rem;
    width: 20%;
}

/* input [type=submit] {
    background-color: #5131A5;
    color: #fff;
    padding: .4rem;
} */

/* font colors */
.white { color:#fff; }

/* images and their containers */
/* .thunder-container {
    text-align: left;
} */

.thunder-logo {
    width: 7rem;
}

.bluedress-container {
    border: 1px solid #76A3D6;
    height: 1.6rem;
    margin-top: 1.5rem;
    padding: .1rem;
    text-align: center;
    width: 6.5rem;
}

.bluedress-logo {
    height: 1.5rem;
    width: 4rem;
}

.macbook {
    margin-top: 1.5rem; 
    position: absolute;
    width: 9rem;
}

.ada-comp {
    height: 12rem;
    margin-top: 1rem;
    width: 11rem;
}

.man-ada {
    border-radius: .2rem;
    height: 14rem;
    margin-right: .7rem;
}

/* content container, holding everything */
.content-container {
    height: 100%;
    margin: auto;
    width: 33rem;
}

/* buttons */
.button-1 {
    background-color: #fff;
    height: 3rem;
    text-align: center;
}

.button-2 {
    text-align: left;
}

/* first portion */
.top-container {
    display: flex;
    flex-direction: row;
    height: 22rem;
    /* justify-content: space-between; */
}

.words-container {
    margin-left: auto; 
    margin-right: 0;
}

.all-websites-container {
    border: 3px solid #76A3D6;
    /* margin: auto; */
    margin-left: 8.5rem;
    width: 24rem;
}

.all-websites-words {
    /* height: 5rem; */
    padding: .2rem;
    width: 24rem;
}

.statistics-words {
    margin-bottom: 2rem;
    margin-left: 14rem;
    width: 19rem;
}

.why-take-words {
    width: 33rem;
}

/* middle portions */
.middle-container-1 {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    height: 20rem;
}

.avoid-words {
    width: 22rem;
}

.middle-container-2 {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    height: 20rem;
}

.we-can-words {
    margin-top: -1rem;
}

/* footer  */
.contact-info-logo {
    display: flex;
    justify-content:space-between;
}

/* form  */
.form-container{
    /* display:flex;
    justify-content: column; */
}

.form {
    display: flex;
    justify-content: row;
    margin-top: -2rem;
}

.labels {
    /* color:#fff; */
    display: flex;
    /* font-family:Arial, Helvetica, sans-serif;
    font-size: .6rem; */
    justify-content: space-between;
}

.submit-button {
    background-color: #5131A5;
    color: #fff;
    padding: .4rem;
}